* text=auto

# Path-based git attributes
# https://git-scm.com/docs/gitattributes

# Ignore all test and documentation with "export-ignore".
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
/.styleci.yml       export-ignore
/bin                export-ignore
/docs               export-ignore
/dist               export-ignore
/package.json       export-ignore
/phpstan.neon.dist  export-ignore
/phpunit.xml.dist   export-ignore
/tests              export-ignore
